[submodule "Projects/AIPND"]
	path = Projects/AIPND
	url = https://github.com/Emad2018/AIPND.git
[submodule "Projects/deep-learning-v2-pytorch.git"]
	path = Projects/deep-learning-v2-pytorch.git
	url = https://github.com/Emad2018/deep-learning-v2-pytorch.git
[submodule "Projects/aipnd-project"]
	path = Projects/aipnd-project
	url = https://github.com/Emad2018/aipnd-project.git
[submodule "Projects/sagemaker-deployment"]
	path = Projects/sagemaker-deployment
	url = https://github.com/Emad2018/sagemaker-deployment.git
