[submodule "AIPND"]
	path = Projects/AIPND/AIPND
	url = https://github.com/Emad2018/AIPND.git
[submodule "deep-learning-v2-pytorch.git"]
	path = Projects/AIPND/deep-learning-v2-pytorch.git
	url = https://github.com/Emad2018/deep-learning-v2-pytorch.git
[submodule "aipnd-project"]
	path = Projects/AIPND/aipnd-project
	url = https://github.com/Emad2018/aipnd-project.git
[submodule "sagemaker-deployment"]
	path = Projects/MLND/sagemaker-deployment
	url = https://github.com/Emad2018/sagemaker-deployment.git
[submodule "Projects/MLND/ML_SageMaker_Studies"]
	path = Projects/MLND/ML_SageMaker_Studies
	url = https://github.com/Emad2018/ML_SageMaker_Studies.git
